{{ define "main" }}

<div id="wrapper">
  <main id="layout_page">
    <article style="margin-bottom: 1rem;">
      <header>
        <h1 style="margin: 0;font-size: 1.8em;">
          {{.Title}}
        </h1>
      </header>
    </article>
    <div>
      {{ range .Resources.ByType "image" }}
      <!-- -->
      <div style="display: flex;align-items: center;">
        {{ $img := .Fill "20x20" }}
        <!-- -->
        <img
          src="{{ $img.Permalink }}"
          alt="{{ .Name }}"
          style="margin-right: 10px;"
        />
        <a href="{{ .Permalink }}" style="border: none;">{{ .Name }}</a>
      </div>
      {{ end }}
    </div>
  </main>
</div>

{{ end }}
