{{ define "main" }}

<div id="wrapper">
  <main id="layout_page">
    <article style="margin-bottom: 1rem;">
      <header>
        <h1
          style="
                  margin: 0;
                  font-size: 1.8em;
                "
        >
          {{.Title}}
        </h1>
      </header>
      <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
      {{.Content}}
    </article>

    <!-- Ranges through content/posts/*.md -->
    {{ range .Pages }}

    <div
      style="
            margin-top: 1.5rem;
            line-height: 1.5;
        "
    >
      {{ if (isset .Params "date") }}
      <small
        style="
            min-width: 120px;
            font-weight: bold;
            font-family: 'Charter';
            color: #4db7b7;
            text-transform: uppercase;
          "
        >{{ .Date.Format "2 Jan, 2006" }}</small
      >
      {{ end }}
      <!-- -->
      <br />
      <a
        style=" 
              font-size: 1.1em;
              text-decoration: none;
              border: none;
              font-weight: 900;
              font-family: 'Charter';
              line-height: 1.2;
            "
        href="{{.Permalink}}"
        >{{ .Title }}</a
      >

      {{ if .Summary }}
      <br />
      <div
        style="
              line-height: 1.6;
              font-size: 0.9em;
              margin-top: 0.4rem;
              color: gray;
            "
      >
        {{ .Summary | truncate 200 }}
      </div>
      {{ end }}
    </div>

    {{ end }}
  </main>
  <aside>{{ partial "social.html" }}</aside>
</div>
{{ end }}
