<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{ .Page.Title }} | {{ .Site.Title }}</title>
<link rel="stylesheet" type="text/css" href={{ "css/syntax.css" | relURL }} />
<link rel="stylesheet" type="text/css" href={{ "css/base.css" | relURL }} />
<link
  href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
  rel="stylesheet"
/>
