<!--<div class="social-links" style="padding-left: 2rem; margin-top: 2rem;">-->
  <!--<a href="mailto:mail@abdus.xyz?subject=Hello"-->
    <!--><i class="fas fa-envelope-square"></i-->
  <!--></a>-->
  <!--<a href="https://github.com/thisisabdus"-->
    <!--><i class="fab fa-github-square"></i-->
  <!--></a>-->
  <!--<a href="https://twitter.com/unsigned_32"-->
    <!--><i class="fab fa-twitter-square"></i-->
  <!--></a>-->
  <!--<a href="https://linkedin.com/in/thisisabdus"-->
    <!--><i class="fab fa-linkedin"></i-->
  <!--></a>-->
  <!--<a href="https://dev.to/abdus"><i class="fab fa-dev"></i></a>-->
  <!--<a href="https://keys.openpgp.org/search?q=0xEB3966E37BA3DFD8"-->
    <!--><i class="fas fa-key"></i-->
  <!--></a>-->
<!--</div>-->

<!--<script>-->
  <!--(function() {-->
    <!--const head = document.querySelector("head");-->
    <!--const css = `-->
      <!--.social-links a {-->
        <!--border: none !important;-->
        <!--margin-right: 8px;-->
        <!--font-size: 1.7em;-->
        <!--transition: 0.3s ease color;-->
        <!--line-height: 1;-->
      <!--}-->
    <!--`;-->
    <!--const style = document.createElement("style");-->

    <!--style.innerHTML = css;-->
    <!--head.appendChild(style);-->
  <!--})();-->
<!--</script>-->
