<a
  href='{{ "/" | absURL }} '
  style="text-align: center; display: block; margin-top: 3rem;"
>
  <div class="logo"><span>#"</span><span>abdus.xyz</span><span>"</span></div>
</a>
<!--border: 1px solid lightgray;-->
<style>
  div.logo {
    padding: 0.7rem 1rem;
    font-family: monaco;
    display: inline-block;
    border-radius: 0.4rem;
    text-align: center;
    margin: 1rem auto;
    text-shadow: 6px 6px 3px #bdbdbd;
    font-size: 1.3em;
  }

  div.logo span {
    color: #00ff00;
  }

  div.logo span:nth-child(2) {
    color: #796b01;
  }
</style>
